.custom-tooltip {
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 10px;
}

.custom-tooltip-title {
  margin: 0 0 10px 0;
  color: #ccc;
  font-weight: bold;
}

.custom-tooltip-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 4px;
}

.custom-tooltip-value {
  font-weight: bold;
  color: white;
}

.custom-tooltip-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.custom-tooltip-group.fragment {
  margin-left: 8px;
}

.custom-tooltip-icon {
  width: 24px;
  height: 24px;
}

.custom-tooltip-value.mapped {
  margin-left: 4px;
}

.custom-tooltip-fragment-text {
  color: #aaa;
  font-weight: bold;
}